@tailwind base;
@tailwind components;
@tailwind utilities;


@theme inline {
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter), sans-serif;
  background: var(--background);
  color: var(--text);
}

